/**
 * 	Blinder Module
 * Stylesheet
 */

#blinder {
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	width:100%;
	height:100%;
	z-index:99999;
}

html.no-js #blinder { display:none; }
